
/* Tittles / Titulos */
h1{
    background-color: black;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    color: #bbff00;
    text-align: center;
    font-size: 70px;
    font-family: 'Orbitron', sans-serif;
}
/* Tittle animation / Animación de t */
.rotate-in-center {
	-webkit-animation: rotate-in-center 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: rotate-in-center 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes rotate-in-center {
    0% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
    opacity: 0;
    }
    100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    opacity: 1;
    }
}
@keyframes rotate-in-center {
    0% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
    opacity: 0;
    }
    100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    opacity: 1;
    }
}


h3{
    text-align: center;
    font-family: 'Rajdhani', sans-serif;
}

/* Navbar / Barra de navegación */
.navbar-index{
    background-color: #bbff0054;
}
.navbar-index nav ol{
    font-family: 'Rajdhani', sans-serif;
    font-size: 20px;
    list-style-type: none;
    display: flex;
}
.nav-list a{
    text-decoration: none;
    list-style: none;
    display: flex;
    gap: 1rem;
    margin-top: 0.6rem;
    color: black;
}
.nav-list a:hover{
    text-decoration: none;
    list-style: none;
    display: flex;
    gap: 1rem;
    margin-top: 0.6rem;
    color: rgb(86, 0, 225);
}
.nav-cart{
    margin-left: 95rem;
}

/* Shop / Tienda */

.shop-rz{
    display: flex;
    justify-content: center;
    gap: 8rem;
    margin-bottom: 5rem;
}
.shop-rz{
    display: flex;
    justify-content: center;
    gap: 8rem;
    margin-bottom: 5rem;
}
.shop-rz button{
    height: 50px;
    width: 140px;
    border-radius: 5rem;
    margin-left: 3.5rem;
    background-color: #bbff009b;
    font-family: 'Rajdhani', sans-serif;
    font-size: 17px;
}
.shop-rz button:hover{
    height: 50px;
    width: 140px;
    border-radius: 5rem;
    margin-left: 3.5rem;
    background-color: #bbff00;
}
.article-shop{
    border-radius: 1rem;
    height: 400px;
    width: 250px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.557);
    padding-top: 0.3rem;
}
.article-shop:hover{
    background-color: #bbff0018;
    height: 400px;
    width: 250px;
    box-shadow: 0px 0px 10px rgb(95, 152, 37);
    padding-top: 0.3rem;
}



/* Responsive */
/* ========================================================================================================== */



/* Responsive 375px */
@media(max-width:375px){
/* Shop / Tienda */
.shop-rz{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 3rem;
    padding-left: 3.8rem;
    margin-bottom: 1rem;
}
.nav-cart{
    margin-left: 10rem;
}
}

/* Responsive 414px (iPhone 11 Pro Max)  */
@media(max-width:414px){
    /* Shop / Tienda */
    .shop-rz{
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 3rem;
        padding-left: 5rem;
        margin-bottom: 1rem;
    }
    .nav-cart{
        margin-left: 10rem;
    }
    }
