@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&family=Titillium+Web:wght@200;300;400;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  transition: 0.3s ease all;
}
body.dark {
  background: #252525;
}

header {
  background-color: #000000;
}

main {
  margin: auto;
}

/* Tittles / Titulos */
h1 {
  background-image: url("/assets/img/backgrounds/bg-tech2.png");
  background-position: 77%;
  background-color: #ffffff;
  text-align: center;
  padding: 1rem 0rem 1rem 0rem;
  color: black;
  font-size: 60px;
  font-weight: 1000;
  font-family: "Orbitron", sans-serif;
  text-shadow: 2px 4px 5px rgba(75, 75, 75, 0.3764705882);
}
body.dark h1 {
  background-image: url("/assets/img/backgrounds/bg-tech2.png");
  color: #bbff00;
  background: #000000;
}

/*----- Navbar / Barra de navegación -----*/
nav {
  margin-top: -0.5rem;
  background-color: #1d9acc;
  height: 80px;
  width: 100%;
  font-family: "Rajdhani", sans-serif;
  font-weight: 800;
  box-shadow: 0px 0px 10px rgba(155, 155, 155, 0.432);
}
body.dark nav {
  background: #002c3d;
  box-shadow: none;
}

nav ul {
  float: right;
  margin-right: 3rem;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  padding: 7px 13px;
  border-radius: 1rem;
  text-transform: uppercase;
}
body.dark nav ul li a {
  color: white;
}

li a.active, li a:hover {
  background-color: #bbff00;
  transition: 0.5s;
}
body.dark li a.active, body.dark li a:hover {
  background-color: #1d9acc;
}

.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 4rem;
  cursor: pointer;
  display: none;
}

.checkbtn:hover {
  color: #bbff00;
}

#check {
  display: none;
}

.button-shop {
  background-color: rgba(29, 154, 204, 0);
  border-style: none;
  height: 30px;
  cursor: pointer;
}

/*----- Dark/Light Mode -----*/
.switch {
  background-color: #343D5B;
  border-radius: 1000px;
  border: none;
  position: relative;
  cursor: pointer;
  display: flex;
  outline: none;
}
.switch::after {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  background: #F1F1F1;
  top: 0;
  left: 0;
  right: unset;
  border-radius: 100px;
  transition: 0.3s ease all;
  box-shadow: 0px 0px 2px 2px #2f3549;
}
.switch.active {
  background-color: orange;
  color: #000000;
}
.switch.active::after {
  right: 0;
  left: unset;
}
.switch span {
  width: 30px;
  height: 30px;
  line-height: 30px;
  display: block;
  background-color: none;
  color: #fff;
}

/*----- Tittle animation / Animación de t -----*/
.rotate-in-center {
  animation: rotate-in-center 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@keyframes rotate-in-center {
  0% {
    transform: rotate(-360deg);
    opacity: 0;
  }
  100% {
    transform: rotate(0);
    opacity: 1;
  }
}
/* Shopping cart / Carro de compras */
.table-striped thead tr th {
  background-color: #000000;
  color: white;
  text-align: center;
}

.shop-car {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 7px;
  border-style: solid;
  display: flex;
  width: 75vw;
  max-width: 500px;
  min-width: 320px;
  margin: auto;
  margin-bottom: 2rem;
  margin-top: 2rem;
}
body.dark .shop-car {
  border-color: #003950;
  background-color: #000000;
}

/* ========================================================================================================== */
/* ==============================================TIENDA====================================================== */
/* ========================================================================================================== */
header h1 {
  text-align: center;
  font-size: 35px;
  /* background-color: #000; */
  color: #fff;
  padding: 30px 0;
}

.contenedor {
  max-width: 1200px;
  padding: 10px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  /* oculto lo que queda fuera del .contenedor */
  contain: paint;
}

/* SECCION CONTENEDOR DE ITEMS */
.contenedor .contenedor-items {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  grid-gap: 30px;
  grid-row-gap: 30px;
  /* width: 60%; */
  width: 100%;
  transition: 0.3s;
}

.contenedor .contenedor-items .item {
  max-width: 200px;
  margin: auto;
  border: 1px solid #666;
  border-radius: 10px;
  padding: 20px;
  transition: 0.3s;
}

.contenedor .contenedor-items .item .img-item {
  width: 100%;
}

.contenedor .contenedor-items .item:hover {
  box-shadow: 0 0 10px #666;
  scale: 1.05;
}

.contenedor .contenedor-items .item .titulo-item {
  display: block;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.contenedor .contenedor-items .item .precio-item {
  display: block;
  text-align: center;
  font-weight: bold;
  font-size: 22px;
}

.contenedor .contenedor-items .item .boton-item {
  display: block;
  margin: 10px auto;
  border: none;
  background-color: black;
  color: #fff;
  padding: 5px 15px;
  border-radius: 5px;
  cursor: pointer;
}

/* seccion carrito */
.carrito {
  border: 1px solid #666;
  width: 35%;
  margin-top: 30px;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: auto;
  position: sticky !important;
  top: 0;
  transition: 0.3s;
  /* Estilos para ocultar */
  margin-right: -100%;
  opacity: 0;
}

.carrito .header-carrito {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 30px 0;
}

.carrito .carrito-item {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  position: relative;
  border-bottom: 1px solid #666;
  padding: 20px;
}

.carrito .carrito-item img {
  margin-right: 20px;
}

.carrito .carrito-item .carrito-item-titulo {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.carrito .carrito-item .selector-cantidad {
  display: inline-block;
  margin-right: 25px;
}

.carrito .carrito-item .carrito-item-cantidad {
  border: none;
  font-size: 18px;
  background-color: transparent;
  display: inline-block;
  width: 30px;
  padding: 5px;
  text-align: center;
}

.carrito .carrito-item .selector-cantidad i {
  font-size: 18px;
  width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #000;
  cursor: pointer;
}

.carrito .carrito-item .carrito-item-precio {
  font-weight: bold;
  display: inline-block;
  font-size: 18px;
  margin-bottom: 5px;
}

.carrito .carrito-item .btn-eliminar {
  position: absolute;
  right: 15px;
  top: 15px;
  color: #000;
  font-size: 20px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #000;
  cursor: pointer;
  display: block;
  background: transparent;
  z-index: 20;
}

.carrito .carrito-item .btn-eliminar i {
  pointer-events: none;
}

.carrito-total {
  background-color: #f3f3f3;
  padding: 30px;
}

.carrito-total .fila {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
}

.carrito-total .btn-pagar {
  display: block;
  width: 100%;
  border: none;
  background: #000;
  color: #fff;
  border-radius: 5px;
  font-size: 18px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
}

.carrito-total .btn-pagar:hover {
  scale: 1.05;
}

/* SECCION RESPONSIVE */
@media screen and (max-width: 850px) {
  .contenedor {
    display: block;
  }
  .contenedor-items {
    width: 100% !important;
  }
  .carrito {
    width: 100%;
  }
}
/* ----- Footer ----- */
footer {
  background-color: #4592af;
  padding: 3rem 0rem 3rem 0rem;
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  gap: 10rem;
  font-weight: 500;
}

.dark {
  background-color: black;
  color: white;
}

.light {
  background-color: white;
  color: black;
}

/* ========================================================================================================== */
/* ==============================================LOGIN.HTML================================================== */
/* ========================================================================================================== */
/* FONTS:
font-family: 'Kanit', sans-serif;
font-family: 'Roboto', sans-serif; */
.body-login-completo {
  background-color: #ffffff;
}

.body-login {
  margin-top: 5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
  background-color: #ffffff;
  font-family: "Courier New", Courier, monospace;
}

form {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  text-align: center;
  padding: 50px 35px;
  box-shadow: 0 0px 10px rgb(77, 77, 77);
  border-radius: 1rem;
}

form .tittle {
  color: black;
  font-size: 35px;
  font-weight: 800;
  margin-bottom: 30px;
  font-family: "Kanit", sans-serif;
}

form label {
  margin-bottom: 35px;
}

form label .fa-solid {
  font-size: 25px;
  color: #1f7496;
  margin-right: 10px;
}

.back-index {
  font-size: 25px;
  margin-top: 1.5rem;
  cursor: pointer;
}

form label input {
  outline: none;
  border: none;
  color: black;
  border-bottom: solid 1px #000000;
  padding: 0px 5px;
  font-size: 18px;
}

form label input::-moz-placeholder {
  color: gray;
}

form label input::placeholder {
  color: gray;
}

form .link {
  color: black;
  margin-bottom: 15px;
}

form button {
  color: #bbff00;
  border: none;
  background-color: #1f7496;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 20px;
}

form button:hover {
  color: #bbff00;
  border: none;
  background-color: #288eb6;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 20px;
}

/* ========================================================================================================== */
/* ==============================================TIENDA HTML================================================== */
/* ========================================================================================================== */
.body-tienda {
  background-color: rgba(128, 128, 128, 0.288);
}

/* ========================================================================================================== */
/* ==============================================RESPONSIVE================================================== */
/* ========================================================================================================== */
/* ----- RESPONSIVE NAVBAR ----- */
@media (max-width: 952px) {
  nav ul li a {
    font-size: 16px;
  }
  .body-login {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: linear-gradient(to right bottom, #1996c7, #1a97c8, #1a97c8, #1b98c9, #1b98ca, #1d9acc, #1e9cce, #209ed0, #23a1d4, #26a5d8, #29a8dc, #2cace0);
    font-family: "Courier New", Courier, monospace;
  }
}
@media (max-width: 858px) {
  .row {
    justify-content: center;
    margin: 0rem 5rem 0rem 5rem;
    gap: 2rem;
  }
  .checkbtn {
    display: block;
  }
  body.dark .checkbtn {
    color: black;
  }
  ul {
    padding-top: 8rem;
    z-index: 100;
    margin-top: -5rem;
    margin-bottom: 2rem;
    position: fixed;
    width: 50%;
    height: 100vh;
    background-color: #1d9acc;
    top: 80px;
    left: -100%;
    text-align: left;
    transition: all 0.5s;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 20px;
  }
  li a:hover, li a.active {
    background: none;
    color: #bbff00;
  }
  #check:checked ~ ul {
    left: 0;
  }
}/*# sourceMappingURL=style.css.map */