
$negro: #111111;
$blanco: #FEFEFE;
$celesto: #1d9acc;
$verdefos: #bbff00;

$sombraDark: 10px 10px 20px rgba(170,170,170,.16);
$sombraLight: 10px 10px 20px rgba(0,0,0,.16);


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: white;
    transition: .3s ease all;

    &.dark{
        background: #000000;
    }
}

main{
    margin: auto;
}

/* Tittles / Titulos */

h1{
    text-align: center;
    background-color: rgb(0, 0, 0);
    padding: 1rem 0rem 1rem 0rem;
    color: #bbff00;
    font-size: 60px;
    font-family: 'Orbitron', sans-serif;
}

/* Front page / Portada */

/* .container{
    max-width: 100vw;
    min-width: 320px;
}
.container img{
    margin-top: -1rem;
    width: 100%;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
} */

/*----- Navbar / Barra de navegación -----*/

nav{
    margin-top: -0.5rem;
    background-color: #1d9acc;
    height: 80px;
    width: 100%;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 800;
}
nav ul{
    float: right;
    margin-right: 3rem;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 1rem;
    text-transform: uppercase;
}
li a.active, li a:hover{
    background-color: #bbff00;
    transition: .5s;
}
.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 4rem;
    cursor: pointer;
    display: none;
}
.checkbtn:hover{
    color: #bbff00;
}
#check{
    display: none;
}

/*----- Dark/Light Mode -----*/

.switch{
    background-color: #343D5B;
    border-radius: 1000px;
    border: none;
    position: relative;
    cursor: pointer;
    display: flex;
    outline: none;
    &::after{
        content: "";
        display: block;
        width: 30px;
        height: 30px;
        position: absolute;
        background: #F1F1F1;
        top: 0;
        left: 0;
        right: unset;
        border-radius: 100px;
        transition: .3s ease all;
        box-shadow: 0px 0px 2px 2px #2f3549;
    }
    &.active{
        background-color: orange;
        color: #000000;
        &::after {
            right: 0;
            left: unset;
        }
    }
    span {
        width: 30px;
        height: 30px;
        line-height: 30px;
        display: block;
        background-color: none;
        color: #fff;
    }
}


/*----- Tittle animation / Animación de t -----*/

.rotate-in-center {
	-webkit-animation: rotate-in-center 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: rotate-in-center 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes rotate-in-center {
    0% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
    opacity: 0;
    }
    100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    opacity: 1;
    }
}
@keyframes rotate-in-center {
    0% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
    opacity: 0;
    }
    100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    opacity: 1;
    }
}

/* Shopping cart / Carro de compras */


.table-striped{
    background-color: rgb(223, 218, 218);
}

.shop-car{
    display: flex;
    width: 75vw;
    max-width: 300px;
    min-width: 320px;
    margin: auto;
    margin-bottom: 2rem;
    margin-top: 2rem;
}


/* ----- Bootstrap cards ----- */
/* Shop / Tienda */
.row{
    justify-content: center;
    margin: 0rem 25rem 0rem 25rem;
    gap: 2rem;
}
.articles{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.card{
    border-radius: 0.5rem;
    text-align: center;
    body.dark & {
        background: rgb(26, 26, 26);
        border-style: solid;
        border-color: white;
    }
}
.card:hover{
    border-radius: 0.5rem;
    box-shadow: 0px 0px 10px rgba(102, 102, 102, 0.526);
}
.card h5{
    font-family: 'Rajdhani', sans-serif;
    font-size: 25px;
}
.card p{
    font-size: 25px;
    font-weight: 600;
    background-color: #bbff0041;
    border-radius: 2rem;
    body.dark & {
        background: #bbff00;
        color: black;
    }
}
.card button{
    border-radius: 5rem;
    background-color: black;
    font-size: 16px;
    body.dark & {
        background: rgb(255, 255, 255);
        color: black;
    }
}
.card button:hover{
    font-size: 15px;
    border-radius: 5rem;
    background-color: black;
}

.btn-toolbar{
    justify-content: center;
}



/* ----- Footer ----- */

footer{
    background-color: #4592af;
    padding: 3rem 0rem 3rem 0rem;
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    gap: 10rem;
    font-weight: 500;
}


.dark{
    background-color: black;
    color: white;
}

.light{
    background-color: white;
    color: black;
}

/* ========================================================================================================== */
/* ==============================================LOGIN.HTML================================================== */
/* ========================================================================================================== */

/* FONTS:
font-family: 'Kanit', sans-serif;
font-family: 'Roboto', sans-serif; */
.body-login-completo{
    background-color: #1b98c9;
}
.body-login{
    margin-top: 5rem;
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
    background-color: #1b98c9;
    font-family: 'Courier New', Courier, monospace;
}

form{
    display: flex;
    flex-direction: column;
    background-color: white;
    text-align: center;
    padding: 50px 35px;
    box-shadow: 0 0px 10px rgb(77, 77, 77);
    border-radius: 1rem;
}

form .tittle{
    color: black;
    font-size: 35px;
    font-weight: 800;
    margin-bottom: 30px;
    font-family: 'Kanit', sans-serif;
}

form label{
    margin-bottom: 35px;
}

form label .fa-solid{
    font-size: 25px;
    color: #1f7496;
    margin-right: 10px;
}

.back-index{
    font-size: 25px;
    margin-top: 1.5rem;
    cursor: pointer;
}

form label input{
    outline: none;
    border: none;
    color: black;
    border-bottom: solid 1px #000000;
    padding: 0px 5px;
    font-size: 18px;
}

form label input::placeholder{
    color: gray;
}

form .link{
    color: black;
    margin-bottom: 15px;
}

form button{
    color: #bbff00;
    border: none;
    background-color: #1f7496;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 20px ;
}
form button:hover{
    color: #bbff00;
    border: none;
    background-color: #288eb6;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 20px ;
}

/* ========================================================================================================== */
/* ==============================================RESPONSIVE================================================== */
/* ========================================================================================================== */


/* ----- RESPONSIVE NAVBAR ----- */
@media(max-width: 952px){
    nav ul li a{
        font-size: 16px;
    }
    .body-login{
        margin-top: 1rem;
        display: flex; 
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        background-image: linear-gradient(to right bottom, #1996c7, #1a97c8, #1a97c8, #1b98c9, #1b98ca, #1d9acc, #1e9cce, #209ed0, #23a1d4, #26a5d8, #29a8dc, #2cace0);
        font-family: 'Courier New', Courier, monospace;
    }
}

@media(max-width: 858px){
    .row{
        justify-content: center;
        margin: 0rem 5rem 0rem 5rem;
        gap: 2rem;
    }
    .checkbtn{
        display: block;
    }
    ul{
        margin-top: 6.4rem;
        margin-bottom: 2rem;
        position: fixed;
        width: 50%;
        height: 100%;
        background-color: #1d9acc;
        top: 80px;
        left: -100%;
        text-align: left;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    li a:hover, li a.active{
        background: none;
        color: #bbff00;
    }
    #check:checked ~ ul{
        left: 0;
    }  
}





